<%= render 'topics_list' %>


<div class="popupPicture">
	<a class="popupContactClose">[close]</a>

	<p class="contactArea">
		<br/><br/>
		<div class="new_picture">
			<div class="album_create">
				<h2>[<em>Insert Album</em>]</h2>
			<div class="new_album">
				<div class="topic_form" title="New Topic">
				<h3>Start A Convo About Events</h3>
				<% form_for(@topic, @topic.category = "Events") do |f| %>
					<%= f.hidden_field :category %>
					<%= f.text_area :content %>
					<%= f.submit "Post" %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	</p>
</div>
<div class="backgroundPopup"></div>


<!-- End Popup -->


</div>