<%= render 'topics_list' %>

<div class="popupPicture">
	<a class="popupContactClose">[close]</a>

	<p class="contactArea">
		<br/><br/>
		<div class="new_picture">
			<div class="album_create">
				<h2>Start A Convo About Places</h2>
			<div class="new_album">
				<center>
				<div class="topic_form" title="New Topic">
				<% form_for(@topic, @topic.category = "#{@category}") do |f| %>
					<%= f.hidden_field :category %>
					<%= f.text_area :content %>
					<%= f.submit "Post", :class => 'primary button' %>
				<% end %>
				</div>
				</center>
			</div>
		</div>
	</div>
	</p>
</div>
<div class="backgroundPopup"></div>


<!-- End Popup -->

</div>