<div class="edit_user">
	<%= render 'edit_user' %>
	
	<div class="gravatar_section">
		<%= link_to (gravatar_for @user, :size => 200), "http://en.gravatar.com/site/login", :target => "_blank" %>
	</div>
	<p>This site uses the connivence of the Gravatar website for image hosting. Click your photo area to edit.</p>
</div>