<div class="home_signed_in">
	<div class="topics_home_panel">
		<a href="<%= entertainment_path %>">
			<div class="bubble_one">
				<%= movie_art %>
				<h2>Entertainment</h2>
				<h3><em>View the Latest trends in Entertainment</em></h3>
			</div>
		</a>
		<a href="<%= news_path %>">
			<div class="bubble_two">
			</div>
		</a>
		<a href="<%= events_path %>">
			<div class="bubble_three">
			</div>
		</a>
	</div>
</div>