<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="<%= root_path %>" class="ui-btn-active ui-state-persist">Home</a></li>
			<li><a href="#">Manager</a></li>
			<li><a href="#">Seek</a></li>
		</ul>
</div>
<!-- Begin Google Analytics -->
<script> // Change UA-XXXXX-X to be your site's ID
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
<!-- End Google Analytics -->